{% extends 'base.html' %}
{% block content %}
<h1>Reset your password</h1>
{% from '_field.html' import render_field %}
<form action="/forget" method="post">
    {{form.hidden_tag()}}
    <span style="color: red">{{error_msg}}</span>
    <table>
    {{ render_field(form.username) }}
    {{ render_field(form.workid) }}
    {{ render_field(form.email) }}
    {{ render_field(form.password) }}
    {{ render_field(form.confirm) }}
    </table>
    <p>
    <input type="submit" value="Confirm">
    </p>    
</form>
{% endblock %}