{% extends 'base.html' %}
{% block content %}
<div id="login_background" style="position: absolute;left: 0px;top: 0px; width: 100%;height: 100%">
    <div id="login_content">
        <div id="login_h1">
            <h1>Welcome to IGS-PMS</h1>
        </div>
        <form action="" method="post" id="login_form">
            {{form.hidden_tag()}}
            <p>
            Username:{{form.username(size=20)}}
            {% for error in form.username.errors %}
                <span style="color: red">{{error}}</span>
            {% endfor %}
                <span style="color: red">{{msg_username}}</span>
            </p>
            <p>
            Password:&nbsp;{{form.password(size=20)}}
            {% for error in form.password.errors %}
                <span style="color: red">{{error}}</span>
            {% endfor %}
                <span style="color: red">{{msg_password}}</span>
            </p>
            <p id="login_button"><input type="submit" value="Sign In"></p>
        </form>
        <div id="login_link">
            <a href="./registe.html" target="_blank">Not Registe</a>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <a href="forget.html" target="_blank">Forget PassWord</a>
        </div>
    </div>
    <div id="login_copyright">
        <p>Copyright: IGS-Toshiba Project</p>
        <p>From 2007 to 2017.</p>
    </div>
</div>
{% endblock %}